# ─────────────────────────────────────────
#  CAMBIA ESTOS VALORES CON LOS DE TU AWS
# ─────────────────────────────────────────

AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
AWS_REGION=us-east-1
S3_BUCKET_NAME=TU_BUCKET_AQUI

# URL base de tu bucket (déjala así, se construye automáticamente)
# Ejemplo final: https://mi-bucket.s3.us-east-1.amazonaws.com/

PORT=3000
